<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='clothingEdit.css') }}">
    <link rel="icon" href="static/images/logo.png">
    <title>Mart in Seconds | Clothing Owner</title>
</head>
<body>
    <header>
        <h1 id="center-header">MART IN SECONDS</h1>
    </header>
    <a href="/"><img class="logo" src="static/images/logo.png"></img></a>
    <div class="container">
        <a onclick="location.href='/owner';" id="customer">Back to Shop</a>
        <form method="POST" action="javascript:submit()">
            <table>
                <tr id="tr">
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Shirts</th>    
                    <th>Jeans</th>    
                    <th>Pants</th>    
                    <th>Jackets</th>  
                    <th>Sarees</th>    
                    <th>Shorts</th>    
                    <th>Suits</th>    
                    <th>Trousers</th>
                    <th>Sweaters</th>  
                    <th>Pyjamas</th>   
                    <th>Total</th>    
                </tr>
                {% for i in content %}
                <tr class="trDel">
                    <td id="inp1 {{ i[0] }}">{{ i[0] }}</td>
                    <td><input id="inp2 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="Mobile No" value="{{ i[1] }}"></td>
                    <td><input id="inp3 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[2] }}"></td>
                    <td><input id="inp4 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[3] }}"></td>
                    <td><input id="inp5 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[4] }}"></td>
                    <td><input id="inp6 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[5] }}"></td>
                    <td><input id="inp7 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[6] }}"></td>
                    <td><input id="inp8 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[7] }}"></td>
                    <td><input id="inp9 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[8] }}"></td>
                    <td><input id="inp10 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[9] }}"></td>
                    <td><input id="inp11 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[10] }}"></td>
                    <td><input id="inp12 {{ i[0] }}" onchange="addToDb(event)" type="text" placeholder="0" value="{{ i[11] }}"></td>
                    <td id="inp13 {{ i[0] }}">{{ i[12] }}</td>
                </tr>   
                {% endfor %}
            </table>
            <div class="buttons">
                <button type="submit" class="save-button">Save</button>
                <button type="button" class="delete" onclick="deleteToggle()">Delete</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='cEdit.js') }}"></script>
</body>
</html>