<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='graphs.css') }}">
    <link rel="icon" href="static/images/logo.png">
    <title>Mart in Seconds | Owner Portal</title>
</head>
<body>
    <a href="/"><img class="logo" src="static/images/logo.png"></img></a>
    <header>
        <h1 id="center-header">MART IN SECONDS</h1>
    </header>
    <div class="container">
        <a onclick="location.href='/owner';" id="customer">Back to Shop</a>

        <img src="{{ url_for('static', filename='images/' + filename) }}" alt="Pie Chart">
    </div>

    <script src="{{ url_for('static', filename='graphsScript.js') }}"></script>
</body>
</html>