<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='owner.css') }}">
    <link rel="icon" href="static/images/logo.png">
    <title>Mart in Seconds | Owner Portal</title>
</head>
<body>
    <a href="/"><img class="logo" src="static/images/logo.png"></img></a>
    <header>
        <h1 id="center-header">MART IN SECONDS <span class="right-align">OWNER</span></h1>
    </header>
    <div class="container">
        <div class="options storeImagesV" onclick="location.href='/vegetablesEdit';">
            <p>Vegetable Store</p>
        </div>
        <div class="options storeImagesC" onclick="location.href='/clothingEdit';">
            <p>Clothing Store</p>
        </div>
        <div class="options storeImagesE" onclick="location.href='/electronicsEdit';">
            <p>Electronics Store</p>
        </div>
        <div class="options storeGraph" onclick="location.href='/graphs';">
            <p>Graphical Representation</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='ownerScript.js') }}"></script>

</body>
</html>